/*
 * ─── BASE ───────────────────────────────────────────────────────────────
 */

body {
    font-size: var(--font-size);
    font-family: var(--font-stack);

    color: var(--clr-font-color-dark);

    margin: 0 auto;
}

body > * {
    padding: 2rem;
}

/* Section - links */
a {
    text-decoration: none;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid;
}

a:hover {
    background: var(--clr-gradient-link-hover);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a[target='_blank']:after {
    content: '🔗';
    font-size: 0.8em;
    margin-left: 0.2rem;
    -webkit-text-fill-color: var(--clr-font-color-dark);
    transition: 0.1s;
}

a[target='_blank']:hover:after {
    display: inline-block;
    transform: scale(1.1);
}

/* Section - headings */
h1 {
    font-size: calc(var(--font-size) * 2);
}

/* content items */
.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    max-width: 70rem;
    min-height: 20vh;

    color: var(--clr-font-color-dark);
    background: var(--clr-background-light);
}

.main {
    background: var(--clr-content-box-background);
    color: var(--clr-font-color);
}

.banner,
.main,
.footer {
    /* TODO: put into variable */
    max-width: 60em;
    margin: 0 auto;
    padding: 4rem 2rem;
}

/* banner */
.banner__heading {
    margin-bottom: 2rem;
}
.banner__sub-heading {
    position: relative;
}
.banner__sub-heading:before {
    content: '';
    position: absolute;
    top: -1.5rem;
    left: calc(50% - 0.5rem);
    width: 1rem;
    border: 1px solid;
}

/* intro */
.intro__heading {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

/* pillars */
.pillars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    list-style: none;
    padding: 0;
}

.pillars li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 4.5rem;
    min-height: 4.5rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    background: #4d21fc;
    color: #ffee80;
    border-right: 0.4rem solid #1e1e3f;
    border-bottom: 0.4rem solid #1e1e3f;
}

.pillars li.animated {
    animation: shrinkGrow 1s cubic-bezier(0, 1.8, 1, 1.8);
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__links li {
    margin-bottom: 2rem;
}

/* TODO Fix custom media query variable */
@media screen and (min-width: 30rem) {
    h1 {
        font-size: 2.5rem;
    }

    .footer__links {
        justify-content: space-between;
        flex-direction: row;
    }
}
