/*
 * ─── GRID ──────────────────────────────────────────────────────────────
 */

/* checking for grid-area: auto to make sure we have support for the new spec */
@supports (grid-area: auto) {
    @media screen and (min-width: 30em) {
        body {
            display: grid;
            max-width: none;
            grid-template-columns: 0.5fr 1fr 0.5fr;
            grid-template-rows: 1fr auto auto;
            grid-template-areas:
                'banner banner banner'
                'main main main'
                'footer footer footer';
        }

        .banner {
            grid-area: banner;
        }

        .main {
            max-width: 100%;
            width: auto;
            margin: 0;
            grid-area: main;
        }

        .intro {
            max-width: 40rem;
            margin: 0 auto;
        }

        .pillars {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
            grid-auto-rows: minmax(7rem, auto);
            grid-gap: 1em;
        }

        .pillars li {
            min-width: none;
            margin: 0;
        }

        .footer {
            grid-area: footer;
            /* TODO: pull into variable */
            max-width: none;
            margin: 0;
        }

        .footer__links {
            max-width: 60rem;
            margin: 0 auto;
        }
    }
}
